@page "/expedientes/{IdUsuario}"
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioConsultaPorId usuarioConsultaId
@inject CasoDeUsoUsuarioConsultaPermisos usuarioConsultaPermisos
@inject CasoDeUsoExpedienteConsultaTodos expedienteConsultaTodos
@inject CasoDeUsoExpedienteConsultaPorId expedienteConsultaId
@inject CasoDeUsoExpedienteAlta expedienteAlta
@inject CasoDeUsoExpedienteBaja expedienteBaja
@inject CasoDeUsoExpedienteModificacion expedienteModificacion

<PageTitle>Expedientes | SGE</PageTitle>

<section class="seccion-paginas">
    <Excepcion @ref="ventanaExcepcion"/>
    <h1>Expedientes</h1>
    <div class="contenedor">
        <div class="formularios">
            @if (operacion == "Alta"){
                <form class="form" @onsubmit="DarDeAlta">
                    <div class="elemento-input">
                        <h4>ID Expediente</h4>
                        <input type="number" @bind="_idExpediente" required>
                    </div>
                    <div class="elemento-input">
                        <h4>Caratula</h4>
                        <input type="text" @bind="_caratula" required>
                    </div>
                    <div>
                        <button type="submit" class="boton-inicio">Dar de alta</button>
                    </div>
                </form>
            }
            @if (operacion == "Baja"){
            <form class="form" @onsubmit="DarDeBaja">
                <div class="elemento-input">
                    <h4>ID Expediente</h4>
                    <input type="number" @bind="_idExpediente" placeholder="ID Expediente" required>
                </div>
                <div>
                    <button type="submit" class="boton-inicio">Dar de baja</button>
                </div>
            </form>
            }
            @if (operacion == "Modificacion"){
                <form class="form" @onsubmit="Modificar">
                   <div class="elemento-input">
                        <h4>ID Expediente</h4>
                        <input type="number" @bind="_idExpediente" required>
                    </div>
                    <div class="elemento-input">
                        <h4>Caratula</h4>
                        <input type="text" @bind="_caratula" required>
                    </div>
                    <div>
                        <button type="submit" class="boton-inicio">Modificar</button>
                    </div>
                </form>
            }
        </div>
        <div class="mostrar-datos">
            
            <h1>AAAAAAAAAAAAAAAAAA</h1>
            <h1>AAAAAAAAAAAAAAAAAA</h1>
            <h1>AAAAAAAAAAAAAAAAAA</h1>
            <h1>AAAAAAAAAAAAAAAAAA</h1>
            <h1>AAAAAAAAAAAAAAAAAA</h1>
            <h1>AAAAAAAAAAAAAAAAAA</h1>

        </div>   
    </div>
    <div class="contenedor-botones">
            @if (permisoAlta) {
                <button class="boton-inicio" @onclick="setAlta">Dar de alta</button>
            }
            @if (permisoBaja) {
                <button class="boton-inicio" @onclick="setBaja">Dar de baja</button>
            }
            @if (permisoModificacion){ 
                <button class="boton-inicio" @onclick="setModificar">Modificar</button>
            }
    </div>
</section>
@code{
    private List<Expediente> expedientes;
    private bool permisoAlta = false;
    private bool permisoBaja = false;
    private bool permisoModificacion = false;
    [Parameter] public string? IdUsuario {get;set;}
    private int userId;
    private int _idExpediente;
    private string? _caratula;
    private string? operacion;
    private Excepcion ventanaExcepcion = null!;

//FALTA METODO PARA IMPRIMIR UN EXPEDIENTE CON TODOS SUS TRAMITES

    protected override void OnInitialized(){
        userId = int.Parse(IdUsuario);
        Usuario user = usuarioConsultaId.Ejecutar(userId);
        List<string> permisos = usuarioConsultaPermisos.Ejecutar(userId);
        if (permisos.Contains("ExpedienteAlta")) permisoAlta = true;
        if (permisos.Contains("ExpedienteBaja")) permisoBaja = true;
        if (permisos.Contains("ExpedienteModificacion"))permisoModificacion = true;
        cargarExpedientes();
    }

    private void cargarExpedientes(){ 
        expedientes = expedienteConsultaTodos.Ejecutar();
    }

    private void ResetearDatos(){

    }
    private void DarDeAlta(){
        try{
            expedienteAlta.Ejecutar(_caratula!,userId);
        }catch(ValidacionException ex){
            ventanaExcepcion.Mensaje = $"{ex.Message}"; 
            ventanaExcepcion.Mostrar();
        }
    }

    private void DarDeBaja(){
        try{
            expedienteBaja.Ejecutar(_idExpediente, userId);
        }catch(RepositorioException ex){
            ventanaExcepcion.Mensaje = $"{ex.Message}"; 
            ventanaExcepcion.Mostrar();
        }
    }
    private void Modificar(){
        try{
            expedienteModificacion.Ejecutar(_idExpediente, _caratula, userId);
        }catch(RepositorioException ex){
            ventanaExcepcion.Mensaje = $"{ex.Message}"; 
            ventanaExcepcion.Mostrar();
        }catch(ValidacionException ex){
            ventanaExcepcion.Mensaje = $"{ex.Message}"; 
            ventanaExcepcion.Mostrar();
        }
    }
    private void setAlta(){
        operacion = "Alta";
    }
    private void setBaja(){
        operacion = "Baja";
    }

    private void setModificar(){
        operacion = "Modificacion";
    }
}
