@page "/expedientes/{IdUsuario}"
@rendermode InteractiveServer

<PageTitle>Expedientes | SGE</PageTitle>


<section class="seccion-expedientes">
    <h1>Expedientes</h1>
    <div class="columna">
        <div class="formulario">
            @if (operacion == "Alta"){
                <form class="form-expedientes" @onsubmit="DarDeAlta">
                    <div class="elemento-input">
                        <h4>ID Expediente</h4>
                        <input type="number" @bind="_idExpediente" required>
                    </div>
                    <div class="elemento-input">
                        <h4>Caratula</h4>
                        <input type="text" @bind="_caratula" required>
                    </div>
                    <div>
                        <button type="submit" class="boton-inicio">Dar de alta</button>
                    </div>
                </form>
            }
            @if (operacion == "Baja"){
            <form class="form-expedientes" @onsubmit="DarDeBaja">
                <div class="elemento-input">
                    <h4>ID Expediente</h4>
                    <input type="number" @bind="_idExpediente" placeholder="ID Expediente" required>
                </div>
                <div>
                    <button type="submit" class="boton-inicio">Dar de baja</button>
                </div>
            </form>
            }
            @if (operacion == "Modificacion"){
                <form class="form-expedientes" @onsubmit="Modificar">
                   <div class="elemento-input">
                        <h4>ID Expediente</h4>
                        <input type="number" @bind="_idExpediente" required>
                    </div>
                    <div class="elemento-input">
                        <h4>Caratula</h4>
                        <input type="text" @bind="_caratula" required>
                    </div>
                    <div>
                        <button type="submit" class="boton-inicio">Modificar</button>
                    </div>
                </form>
            }
        </div>
        <div class="contenedor-expedientes">
            
            <h1>AAAAAAAAAAAAAAAAAA</h1>
            <h1>AAAAAAAAAAAAAAAAAA</h1>
            <h1>AAAAAAAAAAAAAAAAAA</h1>
            <h1>AAAAAAAAAAAAAAAAAA</h1>
            <h1>AAAAAAAAAAAAAAAAAA</h1>
            <h1>AAAAAAAAAAAAAAAAAA</h1>

        </div>   
    </div>
    <div class="contendor-botones">
            @if (permisoAlta) {
                <button class="boton-inicio" @onclick="setAlta">Dar de alta</button>
            }
            @if (permisoBaja) {
                <button class="boton-inicio" @onclick="setBaja">Dar de baja</button>
            }
            @if (permisoModificacion){ 
                <button class="boton-inicio" @onclick="setModificar">Modificar</button>
            }
    </div>
    
</section>

@code{
    private List<Expediente> expedientes;
    private bool permisoAlta = false;
    private bool permisoBaja = false;
    private bool permisoModificacion = false;
    [Parameter] public string? IdUsuario {get;set;}
    private int userId;
    private int _idExpediente;
    private string? _caratula;
    private string? operacion;

    protected override void OnInitialized(){
        userId = int.Parse(IdUsuario);
        RepositorioUsuarioSQLite repo = new RepositorioUsuarioSQLite();
        CasoDeUsoUsuarioConsultaPorId cu = new CasoDeUsoUsuarioConsultaPorId(repo);
        Usuario user = cu.Ejecutar(userId);
        if (user.Permisos.Contains("ExpedienteAlta")) permisoAlta = true;
        if (user.Permisos.Contains("ExpedienteBaja")) permisoBaja = true;
        if (user.Permisos.Contains("ExpedienteModificacion"))permisoModificacion = true;
        cargarExpedientes();
    }

    private void cargarExpedientes(){ 
        RepositorioExpedienteSQLite repo = new RepositorioExpedienteSQLite();
        CasoDeUsoExpedienteConsultaTodos expedientesTodos = new CasoDeUsoExpedienteConsultaTodos(repo);
        expedientes = expedientesTodos.Ejecutar();
    }

    private void ResetearDatos(){

    }
    private void DarDeAlta(){
        //expedienteAlta.Ejecutar(_caratula!,userId);
    }

    private void DarDeBaja(){
        
    }
    private void Modificar(){
        
    }
    private void setAlta(){
        operacion = "Alta";
    }
    private void setBaja(){
        operacion = "Baja";
    }

    private void setModificar(){
        operacion = "Modificacion";
    }
}
