@page "/home/{IdUsuario}"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<PageTitle>Home | SGE</PageTitle>

<section class="seccion-home">
    <div class="modificar">
        <button class="boton-mod" @onclick="RedirigirModificar">Modificar perfil</button>
    </div>
    <h1>¿Que operacion queres realizar?</h1>
    <div class="operaciones">
        <button class="boton-op" @onclick="RedirigirExpedientes">Ver Expedientes</button>
        <button class="boton-op" @onclick="RedirigirTramites">Ver Tramites</button>
        @if (EsAdmin){
            <button class="boton-op" @onclick="RedirigirUsuarios">Ver Usuarios</button>
        }
    </div>
</section>

@code{
    [Parameter] public string? IdUsuario { get; set; }
    private bool EsAdmin = false;
    private int userId;

    protected override void OnParametersSet(){
        int.TryParse(IdUsuario, out userId);
        RepositorioUsuarioSQLite repo = new RepositorioUsuarioSQLite();
        ServicioAutorizacion autorizacion = new ServicioAutorizacion(repo);
        EsAdmin = autorizacion.EsAdmin(userId);
    }

    private void RedirigirExpedientes(){
        Navigation.NavigateTo($"/expedientes/{userId}");
    }
    private void RedirigirTramites(){
        Navigation.NavigateTo($"/tramites/{userId}");
    }
    private void RedirigirUsuarios(){
        Navigation.NavigateTo($"/usuarios/{userId}");
    }
    private void RedirigirModificar(){
        Navigation.NavigateTo($"/modificardatos/{userId}");
    }
}
