@page "/"
<PageTitle>Iniciar Sesion | SGE</PageTitle>
<section class="seccion-formulario">
    <div class="contenedor-formulario">
        <h1 class="titulo">Iniciar Sesion</h1>
        <form action="GET" class="form">
            <div class="elemento-input">
                <input type="email" name="email" id="input-email" placeholder="Email">
            </div>
            <div class="elemento-input">
                <input type="password" name="password" id="input-password" placeholder="Contraseña">
            </div>
            <div>
                <input value="Iniciar Sesion" class="boton-inicio" type="submit">
            </div>
            <div>
                <a href="registrarusuario">¿Olvidaste la contraseña?</a>
            </div>
            <div>
                <a href="registrarusuario">Registrarse</a>
            </div>
        </form>
    </div>
</section>


