@page "/home/{IdUsuario:Int}"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="modificar">
    <button @onclick="RedirigirModificar">Ver Expedientes</button>
</div>

<div class="operaciones">
    <button @onclick="RedirigirExpedientes">Ver Expedientes</button>
    <button @onclick="RedirigirTramites">Ver Tramites</button>
    @if (EsAdmin){
        <button @onclick="RedirigirUsuarios">Ver Usuarios</button>
    }
</div>


@code{
    [Parameter] public int IdUsuario {get;set;}
    private bool EsAdmin = false;

    protected override void OnParametersSet(){
        RepositorioUsuarioSQLite repo = new RepositorioUsuarioSQLite();
        ServicioAutorizacion autorizacion = new ServicioAutorizacion(repo);
        if (autorizacion.EsAdmin(IdUsuario)){
            EsAdmin = true;
        }
    }
    private void RedirigirExpedientes(){
        Navigation.NavigateTo($"/expedientes/{IdUsuario}");
    }
    private void RedirigirTramites(){
        Navigation.NavigateTo($"/tramites/{IdUsuario}");
    }
    private void RedirigirUsuarios(){
        Navigation.NavigateTo($"/usuarios/{IdUsuario}");
    }

    private void RedirigirModificar(){
        Navigation.NavigateTo($"/modificardatos/{IdUsuario}");
    }
}