@page "/"
<PageTitle>Iniciar Sesion | SGE</PageTitle>

<div class="estilo-formulario">
    <div class="title">
        <h1>Iniciar Sesion</h1>
    </div>
    <div class="container-form">
        <form action="GET" class="form">
            <input type="email" name="email" id="input-email" placeholder="Email">
            <input type="password" name="password" id="input-password" placeholder="Contraseña">
            <input value="Iniciar Sesion" class="boton-inicio" type="submit">
        </form>
        <a href="registrarusuario">¿Olvidaste la contraseña?</a>
        <a href="registrarusuario">Registrarse</a>
    </div>
</div>


