@page "/registrarusuario"
@attribute [StreamRendering]

<PageTitle>Registrar Usuario | SGE</PageTitle>

<div class="estilo-formulario">
    <div class="title">
        <h1>Registrarse</h1>
    </div>
    <div class="container-form">
        <form action="GET" class="form">
            <input type="text" name="nombre" id="input-nombre" placeholder=" Nombre">
            <input type="text" name="apellido" id="input-apellido" placeholder=" Apellido">
            <input type="email" name="email" id="input-email" placeholder=" Email">
            <input type="password" name="password" id="input-password" placeholder=" Contraseña">
            <input value="Registrarse" class="boton-inicio" type="submit">
        </form>
    </div>
</div>