@page "/registrarusuario"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject CasoDeUsoUsuarioAlta usuarioAlta


<PageTitle>Registrar Usuario | SGE</PageTitle>
<Excepcion @ref="ventanaExcepcion"/>
<section class="seccion-formulario">
    <div class="contenedor-formulario">
        <h1 class="titulo">Registrarse</h1>
        <form class="form" @onsubmit="Ejecutar">
            <div class="elemento-input">
                <input type="text" @bind="_nombre" id="input-nombre" placeholder=" Nombre" required>
            </div>
            <div class="elemento-input">
                <input type="text" @bind="_apellido" id="input-apellido" placeholder=" Apellido" required>
            </div>
            <div class="elemento-input">
                <input type="email" @bind="_email" id="input-email" placeholder=" Email" required>
            </div>
            <div class="elemento-input">
                <input type="password" @bind="_password" id="input-password" placeholder=" Contraseña" required>
            </div>
            <div>
                <button type="submit" class="boton-inicio">Registrarse</button>
            </div>
            <div>
                <a href="/">¿Ya tenes cuenta?</a>
            </div>
        </form>
    </div>
</section>

@code {
    private string? _nombre;
    private string? _apellido;
    private string? _email;
    private string? _password;
    Excepcion ventanaExcepcion = null!;


    private void Ejecutar (){
        try{
            usuarioAlta.Ejecutar(_nombre!,_apellido!,_email!,_password!);
            Navigation.NavigateTo("/");
        }
        catch(RepositorioException ex){
            ventanaExcepcion.Mensaje = $"{ex.Message}";
            ventanaExcepcion.Mostrar();
        }
    }
}