@inherits LayoutComponentBase

<header>
    <div class="navegacion">
        <div class="contenedor-nav">
            <img src="images/administrar.png" alt="">
            <a class="navbar-brand" href="/">Sistema de Gestion de Expedientes</a>
        </div>
    </div>
</header>
<main>
    @Body
</main>


