/* _content/SGE.UI/Components/Pages/Excepcion.razor.rz.scp.css */
.dialogo-contenedor[b-ycz7sp5w3f] {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .dialogo-contenido{
        padding: 20px;
        background-color: rgb(255, 255, 255);
        h3{
            font-size: larger;
        }
        button[b-ycz7sp5w3f]{
            border: none;
            border-radius: 5px;
            font-weight: 500;
            color: white;
            background-color: rgb(90, 90, 90);
            &:hover {
                background-color:rgb(79, 150, 255);
                box-shadow: 0 0 10px grey
            }
        }
    }
}


/* _content/SGE.UI/Components/Pages/Expedientes.razor.rz.scp.css */
.seccion-formulario-expediente[b-902wjarx8x]{
    background-color:rgb(82, 82, 82);
    display:block;
    border-radius: 15px;
    color: aliceblue;
}
