body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: #F4B942;
}
.boton-mod{
    background-color:#4059AD; ;
    &:hover{
        background-color: #364b8f;
    }
    .img-config {
        max-width: 24px; /* ajusta el tamaño máximo de la imagen */
        vertical-align: middle; /* alinea verticalmente con el texto */
        margin-right: 8px; /* opcional: añade espacio a la derecha del texto */
        background-color:#4059AD; ;
        &:hover{
            background-color: #364b8f;
        }
    }
}
/*ESTILOS DEL NAVBAR*/
.navegacion {
    display: flex;
    background-color: #4059AD;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    img{
        width: 50px;
        height: 50px;
    }
    .navbar-brand {
        font-size: 1.7rem;
        font-weight: 700;
        text-decoration: none;
        color: white;
        padding-left: 1rem; 
    }
    .nav-list {
        list-style: none;
        display: flex;
        align-items: center;
        .list-item {
            a {
                margin: 4px;
                text-decoration: none;
                color: #ffffff;
                font-weight: 700;
                font-size: 1rem;
                padding: 0.5rem 1rem;
                transition: transform 0.3s, box-shadow 0.3s;
                &:hover {
                    transform: scale(0.95);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    border-radius: 5px;
                }
            }
        }
    }
}   
@media (max-width: 768px) {
    .navbar-toggler {
        display: block; 
    }
    .navbar-nav {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 0;
    }
    .nav-item {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .navbar-toggler:checked + .navbar-nav {
        display: flex; 
    }
}
/*ESTILO DEL HOME*/
.container{
    border-radius: 15px;
    padding:2rem;
    width:100%;
    background-color:#EFF2F1;
    margin-top:50px;
    .operaciones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align:center;
        .titulo{
            font-size:2rem;
        }
        .operacion{
            width:30%;
            padding:0.5rem;
            button{
                width:100%;
                background-color: #4059AD;
                &:hover{
                    background-color: #364b8f;
                }
            }
        }
    }
}
/*ESTILO DE PAGINAS*/
.seccion-paginas{
    width: 100%;  
    background-color:#1B2021;
    border-radius: 15px;
    height: 80vh;
    display: flex;
    margin-top:30px;
    flex-direction: column;
    h1{
        margin-top:30px;
        color: white;
        text-align: center;
    }
    .contenedor{
        display: flex;
        flex-direction: row;
        background-color: beige;
        margin: 15px;
        height: 60vh;
        overflow-x: hidden;
        overflow-y: auto;
        border: solid black;
        color: black;
        .formularios{
            border: solid black;
            color: black;
            padding-top: 0.5%;
            padding-bottom: 60px;
            width: 30%;
            justify-content: center;
            text-align: center;
            overflow-x: hidden;
            overflow-y: auto;
            .elemento-input{
                h4{
                    font-size: medium;
                }
                input{
                    width: 60%;
                    border-radius: 10px;
                }
            }
            .boton-inicio{
                border: none;
                border-radius: 5px;
                font-weight: 700;
                font-size: larger;
                width: 30%;
                height: 40px;
                box-sizing: content-box;
                color: white;
                margin-top: 15px;
                background-color:#4059AD; ;
                &:hover{
                    background-color: #364b8f;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }
            }        
        }
        .mostrar-datos{
            width: 70%;
            justify-content: center;
            text-align: center;
            border: solid black;
            color: black;
            overflow-x: hidden;
            overflow-y: auto;
        }
       
    }
    .contenedor-botones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .boton-inicio{
            border: none;
            border-radius: 5px;
            font-weight: 700;
            font-size: larger;
            width: 15%;
            margin: 5px;
            height: 50px;
            box-sizing: content-box;
            color: white;
            background-color:#4059AD; ;
            &:hover{
                    background-color: #364b8f;
                box-shadow: 0 0 10px grey
            }
        }
        
    }
    .mostrar-datitos{
        margin-top: 8px;
        font-size: larger;
        margin-left: 2%;
        
    }
}